.card {
  background-color: var(--Neutral700);
  border: 1px solid var(--Neutral600);
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 15px;
}

.time {
  margin: 0 auto 0 20px;
}

.temp {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--Neutral200);
}
