.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 130px;
}

.button {
  width: 5.2rem;
  height: 2rem;
  background-color: var(--Neutral800);
  border: none;

  font-size: 0.9rem;
  color: var(--Neutral0);
  font-weight: 250;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/svg/icon-units.svg") no-repeat;
}

.button:after {
  content: "";
  display: block;
  width: 13px;
  height: 8px;
  background: url("../assets/svg/icon-dropdown.svg") no-repeat;
}

.optionsWrapper {
  position: absolute;
  top: 2.5rem;
  right: 0px;
  width: 10rem;
  padding: 5px;
  z-index: 100;

  display: flex;
  flex-direction: column;

  background-color: var(--Neutral800);
  border: 1px solid var(--Neutral700);
}

.optionsWrapper button {
  background-color: transparent;
  border: none;
  text-align: left;
  color: var(--Neutral0);
  font-size: 0.85rem;
  padding: 5px;
  border-radius: .3rem;
}

.options {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.optionTitle {
  font-size: 0.75rem;
  color: var(--Neutral300);
  padding: 5px 5px 0 5px;
}

.option {
  font-size: 0.85rem;
  padding: 5px;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active {
  background-color: var(--Neutral700);
}

.active::after {
  content: "";
  display: block;
  width: 14px;
  height: 11px;
  background: url("../assets/svg/icon-checkmark.svg");
}
