@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

:root {
  --text: "DM Sans", sans-serif;
  --title: "Bricolage Grotesque", sans-serif;

  --Neutral900: hsl(243, 96%, 9%);
  --Neutral800: hsl(243, 27%, 20%);
  --Neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --Neutral300: hsl(240, 6%, 70%);
  --Neutral200: hsl(250, 6%, 84%);
  --Neutral0: hsl(0, 0%, 100%);

  --Orange500: hsl(28, 100%, 52%);
  --Blue500: hsl(233, 67%, 56%);
  --Blue700: hsl(248, 70%, 36%);
}

body {
  background-color: var(--Neutral900);
  color: var(--Neutral0);
  font-family: var(--text);
  padding: 15px;
}

button {
  cursor: pointer;
  font-family: var(--text);
}
